:root {
    --color-surface: #ffffff;
    --color-on-surface: #222222;

    --color-primary: #0288D1;
    --color-on-primary: #ffffff;

    --color-surface-1: #f5f5f5;
    --color-surface-2: #eeeeee;
    --color-surface-3: #e0e0e0;
    --color-surface-4: #bdbdbd;
}

h1, h2,
h3, h4,
h5, h6 {
    margin: 0;
}

body {
    margin: 0;
    background-color: var(--color-surface);
    color: var(--color-on-surface);
    font-family: sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
    padding: 20px;
}

.section {
    background-color: var(--color-surface-1);
    border-radius: 10px;
    padding: 16px;
}
